<%- include('./header.ejs') %>
<!-- Courses -->
<section id="courses">
  <section class="pt-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome User</h1>
        <p class="lead text-body-secondary">
          MAHARANA PRATAP COLLEGE OF TECHNOLOGY, GWALIOR
        </p>
      </div>
    </div>
  </section>

  <!-- Detail -->
  <div class="container" id="detail">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div
          class="card card-cover h-100 p-5 overflow-hidden text-bg-white rounded-4 shadow-lg"
        >
          <p class="fw-light text-dark tmy-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste,
            amet? Quam obcaecati dolore excepturi culpa est, sit dicta vitae
            eligendi deserunt autem nemo placeat, iusto id ipsa ex ut expedita?
          </p>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover h-100 p-5 overflow-hidden text-bg-white rounded-4 shadow-lg"
        >
          <p class="fw-light text-dark my-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste,
            amet? Quam obcaecati dolore excepturi culpa est, sit dicta vitae
            eligendi deserunt autem nemo placeat, iusto id ipsa ex ut expedita?
          </p>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover h-100 p-5 overflow-hidden text-bg-white rounded-4 shadow-lg"
        >
          <p class="fw-light text-dark my-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste,
            amet? Quam obcaecati dolore excepturi culpa est, sit dicta vitae
            eligendi deserunt autem nemo placeat, iusto id ipsa ex ut expedita?
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Detail -->

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- card-1 -->
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="rounded w-100"
              src="./Images/Course-1.jpeg"
              alt="Course-1"
              height="200rem"
            />
            <div class="card-body text-center">
              <h2>B.Tech</h2>
              <p class="card-text">
                B.Tech is a professional undergraduate engineering degree
              </p>
              <button type="button" class="btn text-light">Register</button>
            </div>
          </div>
        </div>

        <!-- card-2 -->
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="rounded w-100"
              src="./Images/Course-2.jpeg"
              alt="Course-2"
              height="200rem"
            />
            <div class="card-body text-center">
              <h2>BCA</h2>
              <p class="card-text">
                BCA is a three-year Bachelor's Degree in Computer Application
              </p>
              <button type="button" class="btn text-light">Register</button>
            </div>
          </div>
        </div>

        <!-- card-3 -->
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="rounded w-100"
              src="./Images/Course-3.jpeg"
              alt="Course-3"
              height="200rem"
            />
            <div class="card-body text-center">
              <h2>MCA</h2>
              <p class="card-text">
                MCA is a professional post-graduation degree in Computer
                Application
              </p>
              <button type="button" class="btn text-light">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Courses -->
<%- include('./footer.ejs') %>
